services:
  homeassistant:
    image: ghcr.io/home-assistant/home-assistant:stable
    container_name: homeassistant
    restart: unless-stopped
    network_mode: host
    volumes:
      - ./homeassistant:/config
      - /etc/localtime:/etc/localtime:ro
    environment:
      - TZ=${TZ}

  nodered:
    image: nodered/node-red:latest
    container_name: nodered
    restart: unless-stopped
    environment:
      - TZ=${TZ}
      - NODE_RED_ENABLE_PROJECTS=true  # Enable projects feature
      # - NODE_RED_ENABLE_PATHS=true  # Enable path-based projects
    volumes:
      - ./nodered:/data
      # Add additional volumes for custom nodes if needed
      # - ./nodered/nodered-custom-nodes:/data/node_modules
    network_mode: host

  duckdns:
    image: linuxserver/duckdns:latest
    container_name: duckdns
    restart: unless-stopped
    environment:
      - PUID=1000
      - PGID=1000
      - TZ=${TZ}
      - SUBDOMAINS=${DUCKDNS_SUBDOMAINS}
      - TOKEN=${DUCKDNS_TOKEN}
      - INTERVAL=${DUCKDNS_INTERVAL}
    volumes:
      - ./duckdns:/config
    network_mode: host

  caddy:
    image: caddy:2
    container_name: caddy
    restart: unless-stopped
    volumes:
      - ./caddy/Caddyfile:/etc/caddy/Caddyfile:ro
      - ./caddy/data:/data
      - ./caddy/config:/config
    network_mode: host

  mosquitto:
    image: eclipse-mosquitto:2
    container_name: mosquitto
    restart: unless-stopped
    volumes:
      - ./mosquitto/config:/mosquitto/config
      - ./mosquitto/data:/mosquitto/data
      - ./mosquitto/log:/mosquitto/log
    network_mode: host

  zigbee2mqtt:
    image: koenkk/zigbee2mqtt
    container_name: zigbee2mqtt
    restart: unless-stopped
    depends_on:
      - mosquitto
    volumes:
      - ./zigbee2mqtt/data:/app/data
      - /run/udev:/run/udev:ro
    devices:
      - /dev/serial/by-id/usb-ITead_Sonoff_Zigbee_3.0_USB_Dongle_Plus_9e43d1767b12ec11bdb420c7bd930c07-if00-port0:/dev/ttyUSB0
    environment:
      - TZ=${TZ}
    network_mode: host

  rigcloud-ws:
    build: ./rigcloud-ws
    container_name: rigcloud-ws
    restart: unless-stopped
    volumes:
      - /etc/rigcloud/aws-certs:/certs:ro
    environment:
      - API_BIND=${API_BIND}
      - API_PORT=${API_PORT}
      - BASE_PATH=/dashboard
      - USE_AWS_DB=${USE_AWS_DB}
      - MQTT_TOPIC_FILTER=${MQTT_TOPIC_FILTER}
      - MQTT_MODE=${MQTT_MODE}
      - MQTT_HOST=${MQTT_HOST}
      - MQTT_PORT=${MQTT_PORT}
      - MQTT_USER=${MQTT_USER}
      - MQTT_PASS=${MQTT_PASS}
      - AWS_MQTT_HOST=${AWS_MQTT_HOST}
      - AWS_MQTT_PORT=${AWS_MQTT_PORT}
      - AWS_MQTT_CA=/certs/${AWS_MQTT_CA_FILENAME}
      - AWS_MQTT_CERT=/certs/${AWS_MQTT_CERT_FILENAME}
      - AWS_MQTT_KEY=/certs/${AWS_MQTT_KEY_FILENAME}
      - BROADCAST_INTERVAL=${BROADCAST_INTERVAL}
    network_mode: host

networks:
  ha-docker_default:
    external: true


docker compose up -d
