services:
  homeassistant:
    image: ghcr.io/home-assistant/home-assistant:stable
    container_name: homeassistant
    restart: unless-stopped
    network_mode: host
    volumes:
      - ./homeassistant:/config
      - /etc/localtime:/etc/localtime:ro
    environment:
      - TZ=America/Toronto

  caddy:
    image: caddy:2
    container_name: caddy
    restart: unless-stopped
    ports:
      - "80:80"
      - "443:443"
      - "8081:8081"
    volumes:
      - ./caddy/Caddyfile:/etc/caddy/Caddyfile:ro
      - ./caddy/data:/data
      - ./caddy/config:/config
    networks:
      - ha-docker_default

  mosquitto:
    image: eclipse-mosquitto:2
    container_name: mosquitto
    restart: unless-stopped
    ports:
      - "1883:1883"
    volumes:
      - ./mosquitto/config:/mosquitto/config
      - ./mosquitto/data:/mosquitto/data
      - ./mosquitto/log:/mosquitto/log
    networks:
      - ha-docker_default

  zigbee2mqtt:
    image: koenkk/zigbee2mqtt
    container_name: zigbee2mqtt
    restart: unless-stopped
    depends_on:
      - mosquitto
    volumes:
      - ./zigbee2mqtt/data:/app/data
      - /run/udev:/run/udev:ro
    devices:
      - /dev/serial/by-id/usb-ITead_Sonoff_Zigbee_3.0_USB_Dongle_Plus_9e43d1767b12ec11bdb420c7bd930c07-if00-port0:/dev/ttyUSB0
    environment:
      - TZ=America/Toronto
    ports:
      - "8080:8080"
    networks:
      - ha-docker_default

  rigcloud-ws:
    build: ./rigcloud-ws
    container_name: rigcloud-ws
    restart: unless-stopped
    volumes:
      - /etc/rigcloud/aws-certs:/certs:ro
    environment:
      API_BIND: "0.0.0.0"
      API_PORT: "8765"
      BASE_PATH: "/dashboard"
      # ---------- LOCAL MQTT ----------
      MQTT_HOST: "mosquitto"
      MQTT_PORT: "1883"
      MQTT_USER: "admin"
      MQTT_PASS: "*************"
      # ---------- AWS MQTT (optional) ----------
      AWS_MQTT_HOST: "**********.iot.us-east-1.amazonaws.com"
      AWS_MQTT_PORT: "8883"
      AWS_MQTT_CA: "/certs/AmazonRootCA1.pem"
      AWS_MQTT_CERT: "/certs/device.pem.crt"
      AWS_MQTT_KEY: "/certs/private.pem.key"
      MQTT_TOPIC_FILTER: "rigcloud/+/status"
      BROADCAST_INTERVAL: "10"
    ports:
      - "8765:8765"
    networks:
      - ha-docker_default

networks:
  ha-docker_default:
    external: true
